.footer{
  width: 100%
  padding: 30px 20px
  background-color: #333
  color: #fff
  position: absolute
  left: 0
  bottom: 0
  text-align: center
  span{
    margin: 0 5px
  }
  i{
    margin-right: 10px
  }
  a{
    color: #24a5db
    transition: color 0.5s ease
    text-decoration: none
    &:hover{
      text-decoration: none
      color: #97ffff
    }
  }
  .copyright{
    span{
      margin: 2px
    }
    .author{
      margin-left:15px
    }
  }

}
@media(max-width: 480px){
  .footer{
    padding: 30px 10px
  }
}
