<html>
  <%- partial('_common/head') %>
  <body>
    <%- partial('_common/header') %>
    <main class="main">
      <div class="content">
        <%- body %>
      </div>
        <%- partial('_common/footer') %>
    </main>
  </body>
</html>
