h1, h2, h3, h4, h5, h6
  font-weight: 400;
  color: #222;

body {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@import "_common/header";
@import "_common/post";
@import "_common/highlight";
