<% if (page.total > 1){ %>
  <nav class="page-nav">
    <%- paginator({
      prev_text:  __('paginator.prev_text'),
      next_text:  __('paginator.next_text'),
      show_all: true
    }) %>
  </nav>
<% } %>
